# List Comprehension

## Lists: A Recap

Lists are mutable objects that contain, for instance, numerical data types such as strings or floats. The can also contain strings, or even a mixture of these objects. We might even have lists of lists and lists of lists of lists. For this reason, lists are quite versatile and useful objects for storing items.

In [14]:
# List of integers
int_list = [1,2,3,4,5,6,7,8]
print(int_list)

[1, 2, 3, 4, 5, 6, 7, 8]

In [15]:
# List of strings
string_list=['Hello', 'Data', 'Part time', 'Class', 'of', '2020']
print(string_list)

['Hello', 'Data', 'Part time', 'Class', 'of', '2020']

In [16]:
# List of strings and integers
mixed_list=['Hello',28, 'Data', 'Part time',7, 'Class', 'of', '2020',1,4,3]
print(mixed_list)

['Hello', 28, 'Data', 'Part time', 7, 'Class', 'of', '2020', 1, 4, 3]

### Accessing Items in a list
You will have already seen this in the prework, but the way you can access specific items in the list is by using the double square bracket syntax. Don't forget, however, that Python is zero-indexed, which means that what we would normally cal the first item in the list is actually the zeroth element. We can access one element as follows: string_list[1] and obtain "Data" as an output. But we can do more: if we want to access multiple values, we can make a slice. For instance string_list[1:4]. Using this slice we obtain the first, second and third element in the list corresponding to "Data", "Part Time" and "Class".

In [18]:
# Index for the int_list
int_list[2]

3

In [20]:
string_list[2:4]

['Part time', 'Class']

In [22]:
mixed_list

['Hello', 28, 'Data', 'Part time', 7, 'Class', 'of', '2020', 1, 4, 3]

In [21]:
# Sliced for the mixed_list
mixed_list[-1]

3

### Adding Items to a List

There are several ways to add items to a list. For instance, we can append items to a list. Or we can simply add the items to the a list when we declare it like we did above. 

Nevertheless, suppose that we want to add 100 items to a list. In that case we will want to use something like a for loop as adding 100 items to a list is simply neither feasible nor desirable.

In [26]:
# For loop adding numbers to a list

# Create a new, empty list

new_list=[]
for i in range(100):
    new_list.append(i)
    print(i)
print(new_list)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

But we can do more things. For instance, we can do addition while appending the items to the list.

In [35]:
# Create a new, empty list
newer_list=[]
for i in range (50):
    newer_list.append(i+1)
print(newer_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50]

## List Comprehension: Beyond the for-loop

Essentially, with a for loop you can almost do anything. It is a classical tool that is being used in almost all non-functional programming languages. Yet, the nice thing about Python in particular is that there are tools that make certain operations much more efficient and neat. One of those operations is called list comprehension. In list comprehension you essentially squeeze in the for loop inside the list, thereby creating a nice one-liner.

In [32]:
# List comprension example
list_comp = [i for i in range (100)]
print(list_comp)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [34]:
# List comprehension second example
list_comp_two = [i+1 for i in range (100)]
print(list_comp_two)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

As is the case with normal for loops, list comprehension also allows you to include conditional statements. For instance, instead of adding the first 100 integers to a list, we might want to add only those integers that are larger than 50.

In [38]:
large_list = [i for i in range(100) if i >=50]
print(large_list)

[50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

### List Comprehension: More Complicated Examples

As already said in the introduction, it is also possible to have lists of lists. Usually, when we're dealing with a list of lists, we need a double/nested for loop. An example of that can be seen below.

In [40]:
#Example of a nested list
nested_list=[[1,2,3],[3,4,5],[6,7,8]]
lst=[]

for i in nested_list:
        for j in i:
            lst.append(j)
print(lst)

[1, 2, 3, 3, 4, 5, 6, 7, 8]

In [45]:
#Example of a nested list (how not to unnest it)
nested_list=[[1,2,3],[3,4,5],[6,7,8]]
lst=[]

for i in nested_list:
            lst.append(i)
print(lst)

[[1, 2, 3], [3, 4, 5], [6, 7, 8]]

In [44]:
nested_list[0]

[1, 2, 3]

In [43]:
nested_list[0][1]

2

In similar vein, we can also use list comprehension. Note that we add j to the list this time, not i.

In [46]:
# Nested for loop example with list comprehension
nested_list

[[1, 2, 3], [3, 4, 5], [6, 7, 8]]

In [50]:
nested_list=[[1,2,3],[3,4,5],[6,7,8]]
lst=[j for i in nested_list for j in i]
print (lst)

[1, 2, 3, 3, 4, 5, 6, 7, 8]

In [49]:
#list_comp = [i for i in range (100)]

nested_list=[[1,2,3],[3,4,5],[6,7,8]]
empty_list=[]
lst=[j for empty_list in nested_list for j in empty_list]

print (lst)

[1, 2, 3, 3, 4, 5, 6, 7, 8]

### List Comprehension: Note of Caution

One last note of caution before we end this lecture. It is important to understand that - even though list comprehension makes your code neat and clean - it does not always make it more readable (see example below). Especially when there are other developers that need to work on your code later on, it is better to use the regular for-loop flow.

In [63]:
lst_lst=[[1,2,3,4,5],[6,7,8],[9,10]]
for_lst= []

for lst in lst_lst:
    if len(lst) <4:
            for y in lst:
                if y % 2 == 0:
                    for_lst.append(y)
print(for_lst)

[6, 8, 10]

In [56]:
lst_lst[1]

[6, 7, 8]

In [57]:
len(lst_lst[1])

3

In [67]:
# Complicated example
lst_lst=[[1,2,3,4,5],[6,7,8],[9,10]]
lst = [y for x in lst_lst if len(x)<4 for y in x if y % 2 ==0]


print(lst)

[6, 8, 10]